<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Directive Builder</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/app/app.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/builder.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/builder.js"></script>

</body>
</html>
