<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Directive Builder</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 right-line" ng-controller="DirectiveBuilderController">
                <form class="form-horizontal">
                    <legend>Directive Builder</legend>
                    <div class="control-group">
                        <label class="control-label" for="directiveName">Directive Name</label>
                        <div class="controls">
                            <input type="text" id="directiveName" ng-model="directive.name" placeholder="Directive Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="priority">Priority</label>
                        <div class="controls">
                            <input type="number" id="priority" ng-model="directive.priority" placeholder="Priority">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Terminal</label>
                        <div class="controls">
                            <input type="checkbox" ng-model="directive.terminal">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Replace</label>
                        <div class="controls">
                            <input type="checkbox" ng-model="directive.replace">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Scope</label>
                        <div class="controls">
                            <input type="radio" ng-model="scopeType" value="same">
                            <span class="help-inline">Controller Scope</span>
                        </div>
                        <div class="controls">
                            <input type="radio" ng-model="scopeType" value="child">
                            <span class="help-inline">Child Scope</span>
                        </div>
                        <div class="controls">
                            <input type="radio" ng-model="scopeType" value="isolate">
                            <span class="help-inline">Isolate Scope</span>
                        </div>
                    </div>
                    <div class="control-group" ng-hide="scopeType=='same'">
                        <label class="control-label">Scope Variables</label>
                        <div class="controls">
                            <select><option></option></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Restrict</label>
                        <div class="controls">
                            <input type="checkbox" ng-model="element">
                            <span class="help-inline">Element</span>
                        </div>
                        <div class="controls">
                            <input type="checkbox" ng-model="attribute">
                            <span class="help-inline">Attribute</span>
                        </div>
                        <div class="controls">
                            <input type="checkbox" ng-model="class">
                            <span class="help-inline">Class</span>
                        </div>
                        <div class="controls">
                            <input type="checkbox" ng-model="comment">
                            <span class="help-inline">Comment</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Require</label>
                        <div class="controls">
                            <select>
                                <option value="">Select One</option>
                                <option value="?">Optional</option>
                                <option value="^">On Parent</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >Template Url</label>
                        <div class="controls">
                            <input type="text" placeholder="Template Url" class="input-large">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" >Template</label>
                        <div class="controls">
                            <textarea placeholder="template">
                            </textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Transclude</label>
                        <div class="controls">
                            <select>
                                <option value="">Select One</option>
                                <option value="?">Transclude everything</option>
                                <option value="^">Transclude an element</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="span6" ng-controller="TextController">
                <div class="span12">
                    {{ directive | json }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/app/app.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/builder.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/controller/DirectiveBuilderController.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/controller/TextController.js"></script>
    <script type="text/javascript" src="/javascripts/app/builder/services/DirectiveService.js"></script>

</body>
</html>
