body {
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,
body,
.container-fluid,
.row-fluid,
.span6 {
  height: 100%;
}
a {
  color: #00b7ff;
}
.right-line {
  border-right: 1px solid #666;
}
